---
import Page from "../layouts/Page";
import bgLinesMobile from "../assets/images/pages/home/lines@mobile.png"
import githubIcon from '../assets/icons/github.svg'
---

<Page title="Supardi's Blog">
	<section class="relative">
		<figure class="absolute top-0 left-0 right-0 bottom-0 z-0">
			<img src={bgLinesMobile.src} width={bgLinesMobile.width} height={bgLinesMobile.height} alt="lines">
		</figure>
		<div class="relative py-16 px-4 z-10">
			<h1 class="font-NeueHaasDisplay text-white font-medium text-5xl max-w-[286px]">informatics student, typescript geek, and frontend developer.</h1>
			<p class="font-Inter text-theme-text leading-normal text-lg mt-4">My name is Pardi, and I'm a frontend developer living in the beautiful country of Indonesia. I'm always up for a challenge and I enjoy learning new technologies and techniques to improve my skills.</p>
			<a href="https://github.com/supardiGunawan726" rel="noopener" target="_blank" class="flex mt-6 gap-3 text-theme-text font-Inter font-bold leading-normal">
				<img src={githubIcon.src} width={githubIcon.width} height={githubIcon.height} alt="Github icon" /> Find me at Github
			</a>
		</div>
	</section>
</Page>